@import 'variables';

body {
  padding-top: 6rem;
  background-color: $background;
  padding-bottom: 3rem;
}

.navbar {
  background: $background;
  height: 3.4rem;
}

@mixin stripes($colour1, $lighten) {
  background: repeating-linear-gradient(
    45deg,
    $colour1,
    $colour1 10px,
    lighten($colour1, $lighten) 10px,
    lighten($colour1, $lighten) 20px
  );
}

.status {
  top: 3.4rem;
  height: 33px;
  color: white;
  .back {
    transition: all 0.5s ease;
    @include stripes(#009688, 3%);
    opacity: 0.92;
    background-position-x: 0;
    height: 100%;
  }
  &.anon .back{
    filter: brightness(70%);
  }
  &.offline .back {
    filter: grayscale(100%) brightness(120%);
  }
  .container {
    position: relative;
    top: -28px;
  }
}

.call-link {
  text-decoration: none !important;
  color: black;
}

.call-list {
  color: black;
  &, .call-link, .call-link .text-muted {
    transition: all 0.5s;
  }

  &.new-call {
    background: $success;
    .call-link {
      color: white;
      .text-muted {
        color:white !important;
      }
    }
  }
}
