$font-family-base: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$primary: #3987da;
$secondary: #ced4da;
$form-group-margin-bottom: 0;
$grid-gutter-width: 1rem;
$h4-font-size: 1.2rem;

// theme variables
$background: #F1F5F9;

// include bs variables here so they can be used in the theme.
@import 'libs/bootstrap/functions';
@import 'libs/bootstrap/variables';
